<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
 Note to Utpal : Please add &quot;Quick View&quot; on top of product image to view product details<!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container white">
                <div class="col-md-12">
                    
                    <h4>LADIES</h4>
                    <hr>
                </div>
                
              <div class="col-md-3 hidden-xs hidden-sm hidden-md">
                    <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                                    <!--Side Navbar-->
                  <div class="sidemenu">
                  <div class="sidemenutitle">CATEGORIES</div>
                
                    <div class="sidemenulist">
                      <ul>
                        <li><a href="category.html">MEN42</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Shirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                        <li><a href="category.html">LADIES123</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Skirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                        <li><a href="category.html">KIDS11</a>
                          <ul>
                            <li><a href="category.html">T-shirts</a></li>
                            <li><a href="category.html">Skirts</a></li>
                            <li><a href="category.html">Pants</a></li>
                            <li><a href="category.html">Accessories</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    </div>
                <!--eof side navebar-->
                <div class="sidemenu">
                  <div class="sidemenutitle">BRANDS <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></div>
                
                    <div class="sidemenulist">
                                               <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Armani (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Versace (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Carlo Bruni (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Jack Honey (14)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                            </form>
                    
                    </div>
                    </div>

                    
                    <div class="sidemenu">
                  <div class="sidemenutitle">Price Range <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></div>
                
                    <div class="sidemenulist">
                    Pls Add Price Slider range
                    </div>
                    </div>
  

                  <!-- *** MENUS AND FILTERS END *** -->

                  <div class="banner">
                        <a href="#">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    

                    <div class="categorybox info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>12</strong> of <strong>25</strong> products
                            </div>

                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-sort-by">
                                                <strong>Sort by</strong>
                                                <select name="sort-by" class="form-control">
                                                    <option>Price</option>
                                                    <option>Name</option>
                                                    <option>Sales first</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row products">
                    
<!--Item grid-->
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="http://g02.a.alicdn.com/kf/HTB1Et6rKpXXXXasXpXXq6xXFXXXm/Refrigerator-Magnets-Message-Fashion-Design-font-b-Round-b-font-font-b-Clock-b-font-Popular.jpg"></div>
    <div a href="#" class="product-cat-desc">
	<div class="product-cat-name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
    <div class="product-cat-price">Rp 350,000 <span class="price-old">Rp 1,500,000</span></div>
    </div></a>
   <!--Ribbon--> 
 <div class="ribbon sale">
   <div class="theribbon">SALE</div>
   <div class="ribbon-background"></div>
  </div>
    <!-- /.ribbon -->
 <div class="ribbon new">
 <div class="theribbon">NEW</div>
 <div class="ribbon-background"></div>
 </div>
 <!-- /.ribbon -->
 <div class="ribbon gift">
 <div class="theribbon">GIFT</div>
 <div class="ribbon-background"></div>
 </div>
 <!-- /.ribbon -->      
</div><!--Eof item grid-->
        
<!--Item grid-->
<div class="col-sm-4 product-cat"> 
<div class="item-img"><img src="img/61ClsHtjNQL._SL1000_.jpg"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">Lorem ipsum dolor sit amet</div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
</div><!--eof item grid-->
      
<!--Item grid-->        
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="https://www.creamcornwall.co.uk/wp-content/uploads/2014/10/cream-cornwall-gam-and-garden-hare-cushion-front.jpg"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">Lorem ipsum dolor sit amet </div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
</div><!--eof item grid-->

<!--Item grid-->        
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="https://s3-media1.fl.yelpcdn.com/bphoto/1ZXoUMWlAt-Le6x_6SuwNg/o.jpg"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
</div><!--eof item grid-->

<!--Item grid-->        
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="http://images.cultfurniture.com/images/products/zoom/1380014777-46368400.jpg"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
        <!-- /.ribbon -->
 <div class="ribbon gift">
 <div class="theribbon">GIFT</div>
 <div class="ribbon-background"></div>
 </div>
</div><!--eof item grid-->

<!--Item grid-->        
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="http://cdn3.bigcommerce.com/s-dbwm0/products/664/images/1233/Moet_and_Chandon_Rose_Black_Unfurl_Gift_Tin__49899.1449696491.1280.1280.jpg?c=2"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">consectetur adipisicing elit</div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
</div><!--eof item grid-->

<!--Item grid-->        
<div class="col-sm-4 product-cat">
<div class="item-img"><img src="http://www.leafenthusiast.com/leaf/wp-content/uploads/2016/07/LigaMae_band.jpg"></div>
		<div a href="#" class="product-cat-desc">
		<div class="product-cat-name">Lorem ipsum dolor sit amet </div>
        <div class="product-cat-price">Rp 350,000</div>
        </div></a>
</div><!--eof item grid-->
                    
                    
                    <!--EOF Product Grid-->

 
                    </div>
                    <!-- /.products -->

                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
 
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
  
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>






</body>

</html>