<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Merchant Form
    </title>

    <meta name="keywords" content="">

    
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.merchant.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
  
    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<!-- *** NAVBAR END *** -->

 <div id="all">
        <div id="content">
            <div class="container white">
            <div class="row">
<!-- Right Column-->
<div class="col-md-9">
<h3>Merchant Information</h3>

<div class="row">

  
<div class="listform form-horizontal">
<label for="Account_Name">Brand Name</label>
<div class="input-group">
  <input name="First Name" type="text" id="First Name" value="max 30 chars" class="form-control">                
</div></div><!--eof listform-->
  
<div class="listform form-horizontal">
<label for="Account_Name">Description</label>
<div class="input-group">
  <textarea name="First Name" class="form-control" id="First Name">Description about your brand and products</textarea>                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Email</label>
<div class="input-group">
  <input name="First Name" type="text" id="First Name" value="Email - test@gmail.com" class="form-control">                
</div></div><!--eof listform-->
<div class="listform form-horizontal">
<label for="Account_Name">Contact No</label>
<div class="input-group">
  <input name="Mobile" type="text" id="Mobile" maxlength="50" class="form-control">                
</div></div><!--eof listform-->


<div class="linerows">
<h4>Shipping Address</h4>


<div class="listform form-horizontal">
<label for="Account_Name">Address</label>
<div class="input-group">
  <input name="Address" type="text" id="Address" value="Address" class="form-control">                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Address Line 2</label>
<div class="input-group">
  <input name="Address2" type="text" id="Address2" value="Address Line 2" class="form-control">                
</div></div><!--eof listform-->

<div class="listform form-horizontal">
<label for="Account_Name">Kecamatan</label>
<div class="input-group">
  <input name="Kecamatan" type="text" id="Kecamatan" value="Kecamatan" class="form-control">                
</div></div><!--eof listform-->

<div class="row">

<div class="listform form-horizontal col-md-6">
<label for="Account_Name">Kecamatan</label>
<div class="input-group">
 <select name="City" id="City" class="form-control"><option value="" selected> --- City --- </option><option value="1507">Aceh</option><option value="1508">Bali</option><option value="1509">Banten</option><option value="1510">Bengkulu</option><option value="1511">BoDeTaBek</option><option value="1512">Gorontalo</option><option value="1513">Jakarta Raya</option><option value="1514">Jambi</option><option value="1515">Jawa Barat</option><option value="1516">Jawa Tengah</option><option value="1517">Jawa Timur</option><option value="1518">Kalimantan Barat</option><option value="1519">Kalimantan Selatan</option><option value="1520">Kalimantan Tengah</option><option value="1521">Kalimantan Timur</option><option value="1522">Kepulauan Bangka Belitung</option><option value="1523">Lampung</option><option value="1524">Maluku</option><option value="1525">Maluku Utara</option><option value="1526">Nusa Tenggara Barat</option><option value="1527">Nusa Tenggara Timur</option><option value="1528">Papua</option><option value="1529">Riau</option><option value="1530">Sulawesi Selatan</option><option value="1531">Sulawesi Tengah</option><option value="1532">Sulawesi Tenggara</option><option value="1533">Sulawesi Utara</option><option value="1534">Sumatera Barat</option><option value="1535">Sumatera Selatan</option><option value="1536">Sumatera Utara</option><option value="1537">Yogyakarta</option></select>                
</div></div><!--eof listform-->

<div class="listform form-horizontal col-md-6">
<label for="Account_Name">Post Code</label>
<div class="input-group">
  <input name="Postcode" type="text" id="Postcode" value="Postcode" size="10" class="form-control">                
</div></div><!--eof listform-->

</div>

</div><!--eof Row-->

</div><!--eof allrows-->
</div><!--eof infobox for Dashboard-->


</div><!--Eof Right Column-->
</div>
            
            </div><!--container White-->
        </div><!--content-->    
    <!-- /all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/front.js"></script>
<!--Script Form-->







</body>

</html>