<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
<!-- *** NAVBAR END *** -->

 <div id="all">
        <div id="content">
            <div class="container white">
            <div class="row">
<!--Side Bar-->  <div class="col-md-3 nopadding">
<!--Original sidebar-->
<div class="nav-side-menu">
    <div class="brand"><table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td width="85" align="left" valign="middle"><img src="img/detailsquare.jpg" width="80" class="img-circle img-responsive userphoto"></td>
    <td align="left" valign="middle"> Hello, <strong>First Last Name</strong>    
</td>
  </tr>
</table></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-pencil fa-lg"></i> Create Wishlist</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-heart fa-lg"></i> My Wishlist</a>
                  </li>
                  
                  <li class="active">
                  <a href="#">
                  <i class="fa fa-calendar fa-lg"></i>Event Reminder</a>
                  </li>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-gift fa-lg"></i> My Surprise Box <span class="label label-danger">New</span></a>
                  </li>
                  
                  
                  <li data-toggle="collapse" data-target="#cashgift" class="collapsed">
                  <a href="#"><i class="fa fa-money fa-lg"></i> My Cash Gift <span class="label label-danger">New</span> <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="cashgift">
                    <li class="active"><a href="#">Cash Gift Received</a></li>
                    <li><a href="#">Bank Account Details</a></li>
                </ul>
                  
                  <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> My Recipient List</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-list fa-lg"></i>Transaction / Orders</a>
                </li>
                
                <li>
                  <a href="#">
                  <i class="fa fa-chain fa-lg"></i> My Contributions</a>
                </li>


                <li data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> My Profile <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="profile">
                  <li>View / Edit Profile</li>
                  <li>Change Password</li>
                  
                </ul>

                 <li>
                  <a href="#">
                  <i class="fa fa-sign-out fa-lg"></i> Sign Out
                  </a>
                  </li>

                 
            </ul>
     </div>
</div>
<!--Eof original sidebar-->
</div><!-- Right Column-->
<div class="col-md-9">
<div class="dashboard-header">EVENT REMINDER  <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#AddEvent" aria-expanded="false" aria-controls="AddEvent"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Event</button>
 </div>
<div class="row">

 <!--Event Form-->
<div class="collapse" id="AddEvent">
<div class="alert alert-warning"> 
<div class="linerows">
<div class="listform"><input name="AEvent_name" type="text" id="AEvent_name" value="Event Name" class="form-control"></div>                       
<div class="listform"><-- Insert Calendar here ->></div>
<div class="row">
<div class="col-md-4"><div class="listform"><select name="RepeatEvent" class="form-control">
  <option selected>Repeat</option>
  <option>None</option>
  <option>Every Week</option>
  <option>Every 2 Weeks</option>
  <option>Every Month</option>
  <option>Every Year</option>
</select></div></div>

<div class="col-md-4"><div class="listForm"><select name="Remind Me" class="form-control col-md-4">
  <option selected>Remind Me</option>
  <option>3 Days Before</option>
  <option>1 Week Before</option>
  <option>2 Weeks Before</option>
  <option>A Month Before</option>
</select></div></div>

<div class="col-md-4"><button type="button" class="btn btn-info"><i class="fa fa-check-square" aria-hidden="true"></i> Save Event </button></div>
</div><!--EOF Row-->
</div> <!--EOF allRow-->

</div><!--EOF alert warning-->
</div><!--EOF Collapse-->
</div>
<!--EOF Event Form-->

<!--start listing event-->
<div class="linerows">
<div class="row row-eq-height">
  <div class="col-xs-2 col-md-1 dateblock"><span class="datedate">25</span><span class="datemonth"> May</span></div>
  <div class="col-xs-8 col-md-10 eventblock">My Cousin, Benson's Birthday</div>
  <div class="col-xs-2 col-md-1 buttonblock text-center"><button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button> <button type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button></div>
</div>
</div>
<!--EOF listing event-->

<!--start listing event-->
<div class="linerows">
<div class="row row-eq-height">
  <div class="col-xs-2 col-md-1 dateblock"><span class="datedate">25</span><span class="datemonth"> May</span></div>
  <div class="col-xs-8 col-md-10 eventblock">My Cousin, Benson's Birthday</div>
  <div class="col-xs-2 col-md-1 buttonblock text-center"><button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button> <button type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button></div>
</div>
</div>
<!--EOF listing event-->

<!--start listing event-->
<div class="linerows">
<div class="row row-eq-height">
  <div class="col-xs-2 col-md-1 dateblock"><span class="datedate">25</span><span class="datemonth"> May</span></div>
  <div class="col-xs-8 col-md-10 eventblock">My Cousin, Benson's Birthday</div>
  <div class="col-xs-2 col-md-1 buttonblock text-center"><button type="button" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></button> <button type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button></div>
</div>
</div>
<!--EOF listing event-->









</div><!--Eof Right Column-->
</div>
            
            </div><!--container White-->
        </div><!--content-->    
    <!-- /all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
<!--Script Form-->







</body>

</html>