<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iPengen Wishlist">
    <meta name="keywords" content="">

    <title>
        iPengen Wishlist
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    
    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>
    <script src="https://use.fontawesome.com/5947892eef.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
 Note to Utpal : I just added a new font, please add it to all&lt;headers

    &gt; &lt;link href=&quot;https://fonts.googleapis.com/css?family=Pacifico&quot; rel=&quot;stylesheet&quot;&gt; &lt;/headers&gt;<!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container white">
<!--Share Wishlist-->            
<div class="row ">

<div class="usertitle"><div class="wishlisttitle">Alvina & Ricky Wedding</div></div>

</div>   
          
<!--User Photo and Information-->
<div class="row lightbg">
 
  <div class="col-md-6">
  <div class="imgbox">
   <img src="img/krabi_prewedding101.jpg" class="bg-image">   
   </div>           
   </div>
  
<div class="col-md-6">
<div class="wishlistinfo pull-right"> <span class="label label-danger"><i class="fa fa-clock-o" aria-hidden="true"></i> Ends : 24th February 2017</span></div>
<div class="infobox">
<div class="wishlisteventinfo">
<div class="listform">
  <h5>EVENT INFO</h5>
    Event Date : 14th February 2017. Time : 7.30 pm </div>
<div class="listform">    
    <h5>SPECIAL NOTE</h5>
    Please Dress in White. RSVP : +62.816885382 - Markisa</div>
  <div class="listform"><h5>EVENT ADDRESS</h5>
    POETREE LOUNGE<br>
    Pullman Jakarta Indonesia
    Jl. M.H. Thamrin 59 Jakarta 10350 – Indonesia  </div>
     <div class="listform">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15866.129682380873!2d106.823825!3d-6.193256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbe4125a0d8fb1ddc!2sPullman+Jakarta+Indonesia+Thamrin+CBD!5e0!3m2!1sen!2sid!4v1472230218756" width="400" height="120" frameborder="0" style="border:1" allowfullscreen></iframe></div>    
 </div>
    
    </div>
  

 
  </div>
</div>
<!--eof User Photo and Information--> 
<!--Share button and Add more gift-->
<div class="row row-eq-height">
 <!--Share button-->
<div class="col-md-6 text-center red-bg">

   <p>Share Your Wishlist : </p>

</div>
 <!--eof Share button-->

<!--Add More Gift button-->
<div class="col-md-6 text-center bg-info">
<a href="Shop.html" class="btn btn-primary btn-lg valign"><i class="fa fa-plus" aria-hidden="true"></i> Add more gifts to wishlist</a></p>
</div>
<!--eof Add More Gift button-->
</div>
<!--Share button and Add more gift-->

<!--Gift Cash--> 
<div class="row">
<div class="allrows">
<div class="item-title text-center">Gift Cash Received</div>
<table class="table table-condensed">
              <thead>
                                    <tr>
                                        <th>Order</td>
                                        <th>Date</td>
                                        <th>Total</td>
                                    <th>Status</td>                                        </tr>
              </thead>
              <tbody>
                                    <tr>
                                        <td># 1735 : <a href="mywishlistname"> My Birthday
                                        Wishlist</a> - from <a href="friendprofile">Friend's Name</a><td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-info">Processing</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : <a href="mywishlistname"> My Birthday
                                        Wishlist</a> - from <a href="friendprofile">Friend's Name</a></td>
                                      <td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-info">Processing</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td># 1735 : <a href="mywishlistname"> My Wedding
                                        Wishlist</a> - from <a href="friendprofile">Friend's Name</a></td>
                                       
                                          
                                      <td>22/06/2013</td>
                                        <td>Rp  150.00</td>
                                        <td><span class="label label-success">Received</span>
                                        </td>
                                    </tr>
              </tbody>
            </table>
 
 </div>
 
</div>
           
 <!--eof Gift Cash--> 
 <!--Add Filter-->
 <div class="row text-center bg-info">
 <div class="col-md-8 col-sm-8"></div>
 
<div class="col-md-4 col-sm-4 text-right listform">
 
  <label for="FILTER"></label>
  <select name="FILTER" id="FILTER" class="form-control">
    <option>Filter By</option>
    <option>Latest</option>
    <option>Name A-Z</option>
    <option>Name Z-A</option>
    <option>Price High - Low</option>
    <option>Price Low - High</option>
  </select>
</div>
</div>
<!--Eof Filter-->
 <!--list item 1-->           
<div class="row">
<div class="allrows">
<!--list detail item 1-->
<div class="product-layout product-list">
<div class="product-thumb">
<div class="image"><a href="#productdetailpage"><img src="img/61ClsHtjNQL._SL1000_.jpg" width="228" height="228" class="img-responsive"></a></div>
<div>
<div class="caption">
<div class="row">
  <div class="col-md-9"> 
 
  <ul class="list-inline">
  <li>Desired <span class="badge badgeblue">2</span></li>
  <li>Received <span class="badge badgeblue">0</span></li>
</ul> 
  <h4><a href="#productdetailpage">Set of 5 Clear Glass Mini Vases</a></h4>
<p>
Decorative Centerpiece for Flower Arrangements</p>
<p class="price">
<span class="price-new">Rp 1,100,00</span> <span class="price-old">Rp 1,500,000</span>

</p>
</div>

</div>

</div>

</div>
</div>
</div>
<!--eoflist detail item 1-->
</div></div>            
<!--eof list item 1--> 
 
 
 
 
<!--list item 2-->   
<div class="row">
<div class="allrows">

<!--list detail item 2-->
<div class="product-layout product-list">
<div class="product-thumb">
<div class="image"><a href="#productdetailpage"><img src="img/61B+x-a1BVL._SL1200_.jpg" width="228" height="228" class="img-responsive"></div>
<div>
<div class="caption">
<div class="row">
  <div class="col-md-9"> 
 
  <ul class="list-inline">
  <li>Desired <span class="badge badgeblue">1</span></li>
  <li>Received <span class="badge badgeblue">0</span></li>
  <li><span class="label label-danger">CONTRIBUTION</span></li>
</ul> 
  <h4><a href="#productdetailpage">Willow Tree Around You</a></h4>
<p>
Willow Tree is an intimate line of figurative sculptures that speak in quiet ways to heal, comfort, protect and inspire</p>
<p class="price">
<span class="price-new">Rp 800,000</span>
</p>
<!--progress bar-->
<div class="row">
  <div class="progressbox">
  Amount contributed : 
 <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 25%">
    Rp 200,000
  </div></div>
  <!--Contibutors-->
 <a class="btn btn-danger" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  View Contributors <i class="fa fa-eye" aria-hidden="true"></i>
</a>
<p></p>
<div class="collapse" id="collapseExample">
 <table class="table table-condensed contributorlist">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>Justin Beiber</td>
    <td>Rp 200,000</td>
    <td>18 Aug 2016</td>
  </tr>
  <tr>
    <td>Rihanna</td>
    <td>Rp 200,000</td>
    <td>21 Aug 2016</td>
  </tr>

</table>

</div>
<!--eof contributors-->
  </div>
 </div>

<!--eof progress bar-->
</div><!--eof-col-md-6-->

</div>

</div>

</div>
</div>
</div>
<!--list detail item2-->
</div></div><!--eof list item 2-->  

    
 <!--list item 3-->           
<div class="row">
<div class="allrows">
<!--list detail item 3-->
<div class="product-layout product-list">
<div class="product-thumb">
<div class="image"><a href="#productdetailpage"><img src="img/815v8umfH3L._SL1500_.jpg" width="228" height="228" class="img-responsive"></a></div>
<div>
<div class="caption">
<div class="row">
  <div class="col-md-9"> 
 
  <ul class="list-inline">
  <li>Desired <span class="badge badgeblue">1</span></li>
  <li>Received <span class="badge badgeblue">0</span></li>
</ul> 
  <h4><a href="#productdetailpage">Nespresso VertuoLine Evoluo Deluxe Coffee & Espresso Maker </a></h4>
<p>
With Aeroccino Plus Milk Frother</p>
<p class="price">
<span class="price-new">Rp 3,500,00</span> 

</p>
</div>

</div>

</div>

</div>
</div>
</div>
<!--eoflist detail item 3-->
</div></div>            
<!--eof list item 3-->             
            
<!--Brows category-->

<div class="row text-center bg-info">
<div class="rowgap">
<a href="Shop.html" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add more gifts to wishlist</a>
</div>
</div>

<!--Eof browse Category-->            
            
            
  </div>             </div><!-- /.container -->
            
</div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
 
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
       
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
<script>$(function () {
  $('[data-toggle="popover"]').popover()
})</script>



</body>

</html>
