/** Your theme modifications here **/
.modal-dialog.totwidth {    /*max-width: 1200px;*/    /*width: 100%;*/
	width:auto;
}
.listform {
	margin-bottom: 10px;
	position: relative;
}
#map {
	height: 197px !important;
}
.waitprocess {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loaderwait {
	left: 46%;
	padding: 10px;
	position: absolute;
	top: 30%;
	background: #fff none repeat scroll 0 0;
	border-radius: 20px;
}
.form-control.error {
	border-color: rgba(234, 52, 52, 0.62);
}
label.error {
	display: none !important;
}
.searchall button.btn {
	margin-right: 10px;
}
.form-group.brandsclass {
	height: 115px;
	overflow-y: scroll;
}
.form-group.categoryleftbox {
	height: 415px;
	overflow-y: scroll;
}
.displayNone {
	display:none;
}
.allbuttonExtra {
	position: relative;
	padding: 20px 0px;
}
.btnExtraAdd {
	left: 355px;
	position: absolute;
	top: 15px;
}
.btnExtraRemove {
	left: 310px;
	position: absolute;
	top: 15px;
}
.btn-xs-extra {
	margin-left:2px;
}
.menu.menutop.list-inline.text-right.hidden-xs > a {
	color: white;
}
.listField.url > p {
	border-bottom: 1px solid;
	font-size: 13px;
	text-transform: uppercase;
}
.lodimag > img {
	position: absolute;
	right: -18px;
	top: 3px;
}
.total-form {
	border: 2px solid #eee;
	padding: 0;
	background: #eee none repeat scroll 0 0;
}
.urllink {
	background: #eee none repeat scroll 0 0;
	line-height: 34px;
	padding-left: 11px;
	font-weight: bold;
}
.lodimg > img {
	margin-top: 5px;
}
#privateImgLeftDiv {
	padding:30%;
}
.listform.wtitle > a {
	float: left;
	margin-right: 30px;
}
.green {
	color: green;
	font-weight: bold;
}/*.productitem.item-img > img {    height: 400px;}.productitem.item-img > img { height: 400px; }*/
.css-error > p {
	color: red;
	font-size:13px;
}/*added by matainja001*/
.added-box {
	border:1px solid #666;
	padding:15px;
	min-height: 260px;
}
.view-password {
	font-size:15px;
}
.btn-modify {
	background:#2b98ff;
	border:0 none;
	border-radius:0;
	font-size:18px;
	height:auto;
	padding:4px !important;
	width:100%;
}
.border-color-mod {
	border-color:#666;
	border-width:1px;
}
.bottomArea {
	padding-bottom:5%
}
.textError {
	border:1px solid red;
}/*end*//*.error {    border: medium none !important;}*/
.slideimage {
	overflow-y: scroll !important;
}
.wisgdig {
	top:10%
}
#addwishModal {
	background-color:rgba(0, 0, 0, 0.4);
}
.wishcls {
	font-size:20px;
	color:#0C3;
}
.totwidth1 {
	width:98%
}
p {
	font-size: 1.2em;
}
.wide {
	border-bottom: 1px #000 solid;
	width: 4000px;
}
.fleft {
	float: left;
	margin: 0 20px 0 0;
}
.cboth {
	clear: both;
}
#main {
	background: #fff;
	margin: 0 auto;
}
.prodIMMg {
	float: left;
	margin-bottom: 10px;
	margin-right: 8%;
	text-align: center;
	text-decoration: none;
	width: 28%;
}
.priceLeft span {
	left: 9px;
	position: absolute;
	top: -24px;
	background: #eee none repeat scroll 0 0;
	border-radius: 3px;
	padding: 2px 5px;
}
.priceRight span {
	background: #eee none repeat scroll 0 0;
	border-radius: 3px;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: -35px;
}
.priceLeft span::after, .priceRight span::after {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #eee transparent transparent;
border-image: none;
border-style: solid;
border-width: 4px;
content: "";
height: 0;
left: 50%;
margin-left: -4px;
position: absolute;
top: 100%;
width: 0;
}
.gallery {
	list-style-type: none;
	margin: 0;
	padding: 0 15px;
}
.gallery li.prodIMMg img {
	width: 100%;
}
.gallery li.prodIMMg:nth-child(3n+0) {
margin-right: 0px;
}        /* jssor slider arrow navigator skin 05 css */        /*        .jssora05l                  (normal)        .jssora05r                  (normal)        .jssora05l:hover            (normal mouseover)        .jssora05r:hover            (normal mouseover)        .jssora05l.jssora05ldn      (mousedown)        .jssora05r.jssora05rdn      (mousedown)        */
#jssor_1 img {
	height: auto !important;
}
}
.jssora05l, .jssora05r {
	display: block;
	position: absolute;            /* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('img/a17.png') no-repeat;
	overflow: hidden;
}
.jssora05l {
	background-position: -10px -40px;
}
.jssora05r {
	background-position: -70px -40px;
}
.jssora05l:hover {
	background-position: -130px -40px;
}
.jssora05r:hover {
	background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
	background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
	background-position: -310px -40px;
}                /* jssor slider thumbnail navigator skin 01 css */        /*        .jssort01-99-66 .p            (normal)        .jssort01-99-66 .p:hover      (normal mouseover)        .jssort01-99-66 .p.pav        (active)        .jssort01-99-66 .p.pdn        (mousedown)        */
.jssort01-99-66 .p {
	position: absolute;
	top: 0;
	left: 0;
	width: 99px;
	height: 66px;
}
.jssort01-99-66 .t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.jssort01-99-66 .w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.jssort01-99-66 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 95px;
	height: 62px;            /*border: #50C9CF 2px solid;*/
	box-sizing: content-box;
	background: url('img/t01.png') -800px -800px no-repeat;
	_background: none;
}
.jssort01-99-66 .pav .c {
	top: 0px;
	_top: 0px;
	left: 0px;
	_left: 0px;
	width: 95px;
	height: 62px;
	border: #50C9CF 1px solid;
	_border: #50C9CF 1px solid;
	background-position: 50% 50%;
}
.p {
	border: 1px solid #ccc;
	overflow: hidden;
}
.jssort01-99-66 .p:hover .c {
	top: 0px;
	left: 0px;
	width: 97px;
	height: 64px;            /*border: #fff 1px solid;*/
	background-position: 50% 50%;
}
.jssort01-99-66 .p.pdn .c {
	background-position: 50% 50%;
	width: 95px;
	height: 62px;
	border: #000 1px solid;
}
* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {            /* ie quirks mode adjust */
	width /**/: 99px;
	height /**/: 66px;
}
.padtop {
	padding-top:1%;
}
.mobileslider {
	display: none;
}
.tc {
    margin-left: 13px;
}
.modal-dialog.terms {
    width: 90%;
}
.itemdetails {
    font-size: 16px;
}
.itemdetailsstatus {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 768px) {
#user {
display: none !important;
}
}
@media only screen and (max-width: 500px) {
#mainImage {
display: none !important;
}
.row.maindetailthumbs {
display: none !important;
}
.mobileslider {
display: block;
}
}
