a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a i.fa,
button i.fa {
  margin: 0 5px;
}
.clickable {
  cursor: pointer;
}
p.lead {
  font-weight: 300;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
#top {
  background: #309096;
  padding: 8px 0;
}
#top .offer {
  color: #fff;
}
#top .offer .btn {
  text-transform: uppercase;
}

.btn-top {
 padding-top: 8px!important;
 padding-bottom: 8px!important;
}

@media (max-width: 991px) {
  #top .offer {
    margin-bottom: 10px;
  }
  div#all {
    margin-top: 80px;
}
}
@media (max-width: 991px) {
  #top {
    font-size: 12px;
    text-align: left;
  }
}
#top a {
  color: #fff;
}
#top ul.menu {
/*  padding-top: 5px; */
  margin: 0;
  text-align: right;
  font-size: 12px;
  list-style: none;
}
@media (max-width: 991px) {
  #top ul.menu {
    text-align: center;
  }
}
#top ul.menu > li {
  display: inline-block;
}
#top ul.menu > li a {
  color: #eeeeee;
}
#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f7f7f7;
}
#top ul.menu > .active {
  color: #999999;
}
#top #login-modal .modal-header {
  background: #4fbfa8;
}
#top #login-modal .modal-header h4 {
  color: #fff;
}
#top #login-modal a {
  color: #4fbfa8;
}
#top #login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
}
.navbar .yamm-content h5 {
    font-size: 16px;
    color: #1d5c60;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: solid 1px #3f898d;
    padding-top: 10px;
}
@media (max-width: 767px) {
  .navbar .yamm-content h5 {
    font-size: 16px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #cef5f7;
	}
}
.navbar .yamm-content ul {
  margin: 0;
  padding: 0;
}
.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #badee0;
  text-transform: uppercase;
  padding: 5px 0;
}
.navbar .yamm-content ul li a {
  color: #292929;
  font-size: 14px;
  display: block;
}
.navbar .yamm-content ul li a:hover {
  color: #4fbfa8;
  text-decoration: none;
}
.navbar .yamm-content .banner {
  margin-bottom: 10px;
}
.navbar ul.nav > li > a {
  text-transform: uppercase;
  /* font-weight: bold; */
}
.navbar #search {
  clear: both;
  border-top: solid 1px #9adacd;
  text-align: right;
}
.navbar #search .navbar-form {
  float: right;
  width: 500px;
}
.navbar #search .navbar-form .input-group {
  display: table;
}
.navbar #search .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar #search .navbar-form .input-group .form-control {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar #search .navbar-form {
    float: none;
    width: auto;
  }
}
.navbar #basket-overview {
  padding: 0;
}
#hot h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #4fbfa8;
  font-weight: 100;
  text-align: center;
}
#hot .product-slider {
  margin-bottom: 20px;
}
#hot .product-slider:before,
#hot .product-slider:after {
  content: " ";
  display: table;
}
#hot .product-slider:after {
  clear: both;
}
#hot .product-slider .item {
  margin: 0 6px;
  visibility: hidden;
}
#hot .product-slider .owl-controls {
  position: relative;
  top: -30px;
}
#hot .product-slider .owl-controls .owl-buttons {
  display: none;
}
#hot .product-slider .owl-controls .owl-page.active span,
#hot .product-slider .owl-controls.clickable .owl-page:hover span {
  background: #4fbfa8;
}
#advantages {
  text-align: center;
}
#advantages .box .icon {
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  top: -20px;
  left: 0;
  height: 100%;
  float: left;
  color: #eeeeee;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advantages .box h3 {
  position: relative;
  margin: 0 0 20px;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
}
#advantages .box h3 a:hover {
  text-decoration: none;
}
#advantages .box p {
  position: relative;
  color: #555555;
  z-index: 2;
}
#main-slider {
/*  margin-bottom: 30px;
  border: solid 1px #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}
.box.slideshow ul li div,
#main-slider ul li div {
  width: 100%;
}
.box.slideshow .owl-controls,
#main-slider .owl-controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.box.slideshow .owl-controls .owl-buttons,
#main-slider .owl-controls .owl-buttons {
  display: none;
}
.box.slideshow .owl-controls .owl-page.active span,
#main-slider .owl-controls .owl-page.active span,
.box.slideshow .owl-controls.clickable .owl-page:hover span,
#main-slider .owl-controls.clickable .owl-page:hover span {
  background: #4fbfa8;
}
.breadcrumb {
/*  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
}
.box {
	background: #fff;
	border: solid 1px #e6e6e6;
	/*  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
	padding: 20px;/*  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
	margin: 0;
}
.header-product{
    margin: 0;
    background-color: #FFFFFF;
    font-size: 48px;
    color: #01BAC5;
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    line-height: 50px;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}
.categorybox {
	background: #fff;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
}
.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
@media (max-width: 991px) {
  .box .box-footer .btn {
    margin-bottom: 20px;
  }
}
.box.slideshow {
  padding: 20px 0 0 0;
  text-align: center;
}
.box.slideshow h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.ribbon {
    position: absolute;
    top: 50px;
    padding-left: 68px;
    z-index: 20;
}
.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}
.ribbon .theribbon {
    position: relative;
    width: 50px;
    padding: 0px 10px 2px 10px;
    margin: 30px 10px 10px -71px;
    color: #fff;
    background-color: #ec1b1b;
    text-shadow: 0px 1px 2px #bbb;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(26,26,26,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(26,26,26,1);
    box-shadow: 0px 1px 3px 0px rgba(26,26,26,1);
}
.ribbon .theribbon:before,
.ribbon .theribbon:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.ribbon .theribbon:after {
    left: 0px;
    top: 100%;
    border-width: 5px 2px;
    border-style: solid;
    border-color: #a00a0a #a00a0a transparent transparent;
}
.ribbon.sale {
  top: 0;
}
.ribbon.new {
  top: 50px;
}
.ribbon.new .theribbon {
  background-color: #5bc0de;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.new .theribbon:after {
  border-color: #2390b0 #2390b0 transparent transparent;
}
.ribbon.gift {
  top: 100px;
}
.ribbon.gift .theribbon {
  background-color: #5cb85c;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.gift .theribbon:after {
  border-color: #357935 #357935 transparent transparent;
}
#content .panel.sidebar-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#content .panel.sidebar-menu .panel-heading .btn.btn-danger {
  color: #fff;
}
#content .panel.sidebar-menu .panel-body span.colour {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid 1px #555555;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 5px;
}
#content .panel.sidebar-menu .panel-body span.colour.white {
  background: #fff;
}
#content .panel.sidebar-menu .panel-body span.colour.red {
  background: red;
}
#content .panel.sidebar-menu .panel-body span.colour.green {
  background: green;
}
#content .panel.sidebar-menu .panel-body span.colour.blue {
  background: blue;
}
#content .panel.sidebar-menu .panel-body span.colour.yellow {
  background: yellow;
}
#content .panel.sidebar-menu .panel-body label {
  color: #999999;
  font-size: 12px;
}
#content .panel.sidebar-menu .panel-body label:hover {
  color: #555555;
}
#content .panel.sidebar-menu h3 {
  padding: 5px 0;
  margin: 0;
}
#content .panel.sidebar-menu ul.nav.category-menu {
  margin-bottom: 20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a {
  text-transform: uppercase;
  font-weight: bold;
}
#content .panel.sidebar-menu ul.nav ul {
  list-style: none;
  padding-left: 0;
}
#content .panel.sidebar-menu ul.nav ul li {
  display: block;
}
#content .panel.sidebar-menu ul.nav ul li a {
  position: relative;
  font-weight: normal;
  text-transform: none !important;
  display: block;
  padding: 10px 15px;
  padding-left: 30px;
  font-size: 12px;
  color: #999999;
}
#content .panel.sidebar-menu ul.nav ul li a:hover,
#content .panel.sidebar-menu ul.nav ul li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#content .info-bar {
  line-height: 32px;
  vertical-align: middle;
}
@media (max-width: 991px) {
  #content .info-bar .products-showing {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #content .info-bar .products-number-sort {
    text-align: center;
    margin-top: 10px;
  }
}
#content .info-bar .products-number strong {
  margin-right: 10px;
}
#content .info-bar .products-sort-by select {
  margin-left: 10px;
}
@media (max-width: 991px) {
  #content .info-bar .products-sort-by {
    margin: 10px 0 0;
  }
  #content .info-bar .products-sort-by select {
    margin: 0;
  }
}
#content .product {
  background: #fff;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  /* entire container, keeps perspective */
  /* flip speed goes here */
  /* hide back of pane during swap */
  /*  UPDATED! front pane, placed above back */
  /* back, initially hidden pane */
}
#content .product .flip-container {
  cursor: pointer;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  #content .product .flip-container img.img-responsive {
    min-width: 100%;
  }
}
#content .product .flip-container,
#content .product .front,
#content .product .back {
  width: 100%;
}
#content .product .flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
#content .product .front,
#content .product .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#content .product .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#content .product .back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#content .product:hover .back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
#content .product:hover .front {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}
#content .product .invisible {
  visibility: hidden;
}
@media (max-width: 767px) {
  #content .product .invisible img.img-responsive {
    min-width: 100%;
  }
}
#content .product .text {
  padding: 10px 10px 0;
}
#content .product .text h3 {
  font-size: 18px;
  font-weight: 700;
  height: 39.6px;
  text-align: center;
  overflow: hidden;
}
#content .product .text h3 a {
  color: #555555;
}
#content .product .text p.price {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
#content .product .text p.price del {
  color: #999999;
}
#content .product .text .buttons {
  clear: both;
  text-align: center;
}
#content .product .text .buttons .btn {
  margin-bottom: 10px;
}
#content .banner {
  margin-bottom: 30px;
}
#content .pages {
  text-align: center;
}
#content .pages .loadMore {
  text-align: center;
}
#content .pages .pagination {
  text-align: center;
}
#content #mainImage {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
#content #productMain {
  margin-bottom: 30px;
}
#content #productMain .goToDescription {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}
#content #productMain .goToDescription a {
  color: #999999;
  text-decoration: underline;
}
#content #productMain .price {
    font-size: 20px;
    font-weight: 300;
}
#content #productMain .buttons {
  margin-bottom: 0;
  text-align: center;
}
#content #productMain .buttons .btn {
  margin-bottom: 10px;
}
#content #details .social {
  text-align: left;
}
#content #details .social h4 {
  font-weight: 300;
  margin-bottom: 10px;
}
#content #details .social p {
  line-height: 26px;
}
#content #details .social p a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}
#content #details .social p a i {
  vertical-align: bottom;
  line-height: 26px;
}
#content #details .social p a.facebook {
  background-color: #4460ae;
}
#content #details .social p a.gplus {
  background-color: #c21f25;
}
#content #details .social p a.twitter {
  background-color: #3cf;
}
#content #details .social p a.instagram {
  background-color: #cd4378;
}
#content #details .social p a.email {
  background-color: #4a7f45;
}
@media (max-width: 991px) {
  #content #details .social {
    text-align: center;
  }
}
#content #thumbs a {
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: solid 2px transparent;
}
#content #thumbs a.active {
  border-color: #4fbfa8;
}
#content #checkout .nav {
  margin-bottom: 20px;
  border-bottom: solid 1px #4fbfa8;
}
#content #checkout .nav li {
  height: 100%;
}
#content #checkout .nav li a {
  display: block;
  height: 100%;
}
#content #order-summary table {
  margin-top: 20px;
}
#content #order-summary table td {
  color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th {
  font-size: 18px;
  color: #555555;
  font-weight: 700;
}
#content #checkout .table tbody tr td,
#content #basket .table tbody tr td,
#content #customer-order .table tbody tr td {
  vertical-align: middle;
}
#content #checkout .table tbody tr td input,
#content #basket .table tbody tr td input,
#content #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right;
}
#content #checkout .table tbody tr td img,
#content #basket .table tbody tr td img,
#content #customer-order .table tbody tr td img {
  width: 50px;
}
#content #checkout .table tfoot,
#content #basket .table tfoot,
#content #customer-order .table tfoot {
  font-size: 18px;
}
#content #text-page h1,
#content #text-page h2,
#content #text-page h3 {
  font-weight: 700;
}
#content #error-page {
  text-align: center;
}
#content #error-page h4 {
  margin-bottom: 40px;
}
#content #error-page p.buttons {
  margin-top: 40px;
}
#content #map {
  height: 400px;
}
div#blog-homepage {
    margin-top: 20px;
    margin-bottom: 20px;
}
#content #blog-listing .post,
#content #blog-homepage .post {
  margin-bottom: 60px;
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#content #blog-listing .post h2 a,
#content #blog-homepage .post h2 a,
#content #blog-listing .post h4 a,
#content #blog-homepage .post h4 a {
  color: #555555;
}
#content #blog-listing .post h2 a:hover,
#content #blog-homepage .post h2 a:hover,
#content #blog-listing .post h4 a:hover,
#content #blog-homepage .post h4 a:hover {
  color: #4fbfa8;
}
#content #blog-listing .post .author-category,
#content #blog-homepage .post .author-category {
  color: #999999;
  font-weight: 300;
}
#content #blog-listing .post .date-comments a,
#content #blog-homepage .post .date-comments a {
  color: #999999;
  margin-right: 20px;
}
#content #blog-listing .post .date-comments a:hover,
#content #blog-homepage .post .date-comments a:hover {
  color: #4fbfa8;
}
#content #blog-listing .post .intro,
#content #blog-homepage .post .intro {
  text-align: left;
}
#content #blog-listing .post .image,
#content #blog-homepage .post .image {
  margin-bottom: 10px;
  overflow: hidden;
}
#content #blog-listing .post .image img,
#content #blog-homepage .post .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  #content #blog-listing .post .image img.img-responsive,
  #content #blog-homepage .post .image img.img-responsive {
    min-width: 100%;
  }
}
#content #blog-listing .post .read-more,
#content #blog-homepage .post .read-more {
  text-align: right;
}
#content #blog-listing .post:hover .image img,
#content #blog-homepage .post:hover .image img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#content #blog-homepage .post {
  margin-bottom: 30px;
}
#content #blog-homepage .post h2,
#content #blog-homepage .post h4,
#content #blog-homepage .post .author-category,
#content #blog-homepage .post .read-more {
  text-align: center;
}
#content #blog-homepage .post .intro {
  font-weight: 300;
}
#content #blog-homepage .post .read-more {
  margin-top: 20px;
}
#content #blog-post .author-date {
  color: #999999;
  font-weight: 300;
}
#content #blog-post #post-content {
  margin-bottom: 20px;
}
#content #blog-post .comment {
  margin-bottom: 25px;
}
#content #blog-post .comment:before,
#content #blog-post .comment:after {
  content: " ";
  display: table;
}
#content #blog-post .comment:after {
  clear: both;
}
#content #blog-post .comment .posted {
  color: #999999;
  font-size: 12px;
}
#content #blog-post .comment .reply {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#content #blog-post .comment.last {
  margin-bottom: 0;
}
#content #blog-post #comments:before,
#content #blog-post #comment-form:before,
#content #blog-post #comments:after,
#content #blog-post #comment-form:after {
  content: " ";
  display: table;
}
#content #blog-post #comments:after,
#content #blog-post #comment-form:after {
  clear: both;
}
#content #blog-post #comments h4,
#content #blog-post #comment-form h4 {
  margin-bottom: 20px;
}
#content #blog-post #comment-form {
  margin-bottom: 20px;
}
#content #customer-orders table tr th,
#content #customer-orders table tr td {
  vertical-align: baseline;
}
#content #customer-order .table tfoot th {
  font-size: 18px;
  font-weight: 300;
}
#content #customer-order .addresses {
  text-align: right;
}
#content #customer-order .addresses p {
  font-size: 18px;
  font-weight: 300;
}
#footer {
  background: #ddfaff;
  padding: 20px 0;
}
#footer ul {
  padding-left: 0;
  list-style: none;
}
#footer ul a {
  color: #999999;
}
#footer .social {
  text-align: left;
}
#footer .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
  background-color: #36aeb5;
}
#footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}
#footer .social a.facebook:hover {
  background-color: #4460ae;
}
#footer .social a.gplus:hover {
  background-color: #c21f25;
}
#footer .social a.twitter:hover {
  background-color: #3cf;
}
#footer .social a.instagram:hover {
  background-color: #cd4378;
}
#footer .social a.email:hover {
  background-color: #4a7f45;
}
#copyright {
    background: #36aeb5;
    color: #fff;
    padding: 20px 0;
    font-size: 12px;
}
#copyright p {
  margin: 0;
}
@media (max-width: 991px) {
  #copyright p {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
  }
}
#style-switch-button {
  position: fixed;
  top: 80px;
  left: 20px;
}
#style-switch {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  position: fixed;
  top: 120px;
  left: 20px;
  background: #fff;
  border: solid 1px #eeeeee;
}
/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
@media (max-width: 767px) {
  .yamm .yamm-content {
    padding: 10px 20px;
  }
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
/* Original Boostrap template overwrite */
/* nav */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #4fbfa8;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #4fbfa8;
}
.nav-tabs-justified > li > a {
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #f0f0f0;
  }
}
/* navbar */
/*.navbar {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	min-height: 70px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid transparent;
	margin-top: 0px;
}*/

.navbar {
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
 min-height: 70px; 
 margin-bottom: 0px;
 border: none;
 border-bottom: 1px solid transparent;
 margin-top: 0px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    float: left;
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse.right {
    float: right;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-brand {
	float: left;
	font-size: 18px;
	line-height: 20px;
	height: 70px;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
    padding: 5px 5px !important;
    margin-right: 15px;
    margin-top: 18px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 0px;
	color: #14a8b1;
}

@media (max-width: 767px) {
  .navbar-toggle {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    text-align: center;
  }
  .square-icon {
    font-size: 80px!important;
}
.squareboxtitle a {
    font-size:  25px!important;
}	
}
.navbar-nav {
  margin: 12.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
}
.user > li > a {
  line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 12px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0px 15px;
  border: none;
  margin-top: 18px;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 5px;
}
.navbar-btn.btn-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-btn.btn-xs {
  margin-top: 24px;
  margin-bottom: 24px;
}
.navbar-text {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
  
  div#all {
    /*margin-top: 87px;*/
	margin-top: 70px;
  }
}
.navbar-default {
  background-color: rgba(61, 195, 202, 0.9);
/*  border-bottom-color: #e6e6e6; */
  z-index: 999;
  width: 100%;
  top: 0px;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #0C3032;
	background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #14a8b1;
    border-width: 2px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #14a8b1;
    color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse {
  border-color: #e6e6e6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #3F898D;
	color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #4fbfa8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  div#all {
  margin-top: 106px;
	
}
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
/* scaffolding */
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #333333;
	background-color: #FFFFFF;
}
a {
  color: #38b0b7;
  text-decoration: none;
}
.overlay:hover,.overlay:focus{
	 border: 1px solid #dedbdb;
	  box-shadow: 0 5px 5px 5px #eee;
	
	
	}
a:hover, a:focus {
   
   
    color: #348e7b;
    text-decoration: none;
}

a:focus {
  outline: medium none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 6px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
/* breadcrumbs */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 8px 0;
    text-align: center;
  }
}
/* buttons  */
.btn {
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
}
.btn-primary {
	color: #ffffff;
	background-color: #337ab7;
	border-color: #3279B4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #3F8BC9;
	border-color: #3279B4;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.btn-primary .badge {
  color: #4fbfa8;
  background-color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* dropdowns */
.dropdown-menu > li > a {
  padding: 5px 20px;
}
/* forms.less */
label {
  font-weight: normal;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group {
  margin-bottom: 20px;
}
/* pager*/
.pager {
  margin: 20px 0;
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #eeeeee;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  border-color: #ddd;
}
/* pagination */
.pagination {
  margin: 20px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #4fbfa8;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #348e7b;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #0099a2;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
p,
ul,
ol {
  margin: 0 0 20px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #4fbfa8;
}
a.text-primary:hover {
  color: #3aa18c;
}
.bg-primary {
  color: #fff;
  background-color: #4fbfa8;
}
a.bg-primary:hover {
  background-color: #3aa18c;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #4fbfa8;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #4fbfa8;
}
address {
  margin-bottom: 20px;
  line-height: 1.42857143;
}
.panel-primary {
  border-color: #4fbfa8;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #4fbfa8;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #4fbfa8;
}
.panel-primary .panel-title {
  font-weight: 300;
}
.panel-primary .panel-title a:hover {
  color: #fff;
  text-decoration: none;
}
/* Mel Css */
.valign{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);	
	}
.bluewhiteheader {
	font-size: 36px;
	color: #FFFFFF;
	background-color: #01BAC5;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.linerows {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.dateblock {
	-webkit-border-radius: 6px 0px 0px 6px;
	-moz-border-radius: 6px 0px 0px 6px;
	border-radius: 6px 0px 0px 6px;
	background-color: #FA1F0F;
	text-align: center;
	padding: 5px;
}
.datedate {
    font-size: 18px;
    color: #ffffff;
}
.datemonth{
	font-size: 18px;
	color: #FFCC00;
	text-transform: uppercase;
	font-weight: bold;
}
.eventblock {
    background-color: #ffe26d;
    padding: 5px;
}
.buttonblock {
	-webkit-border-radius: 0px 6px 6px 0px;
	-moz-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	background-color:#d7fbff;
}
video {
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: -7px;
}
.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	white-space: nowrap;
	background-color: #39b1b9;
	margin-top: -5px;
	text-transform: uppercase;
}
/*div#sliderhome {
    margin-top: -87px;
	margin-top: -16px;
}*/

/*animated arrow animation*/
@-webkit-keyframes avia_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@keyframes avia_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

div#scroll-btn {
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 70px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	-webkit-animation: avia_fade_move_down 2s ease-in-out infinite;
	animation: avia_fade_move_down 2s ease-in-out infinite;
	cursor: pointer;
} 
div#scroll-btn .miniscroll {
	height: 60px;
	width: 60px;
}
@media( max-height : 800px ) {
div#scroll-btn {
	position: absolute;
	left: 50%;
	bottom: 30%;
}
}
@media( max-height : 1000px ) {
div#scroll-btn {
	position: absolute;
	left: 50%;
	bottom: 20%;
}
}
/*fade in out animate */
@keyframes fadeInOut { 
  from { opacity: 0; } 
}
.fadeInOut {
animation: fadeInOut 1s infinite alternate;	
}
/* eof fade in animate */

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

/*.fade:hover {
      opacity: 0.5;
 }*/

@keyframes glowing {
  0% { background-color: #26C9FF; box-shadow: 0 0 3px #26C9FF; }
  50% { background-color: #009BCE; box-shadow: 0 0 10px #009BCE; }
  100% { background-color: #55D5FF; box-shadow: 0 0 3px #55D5FF; }
}

.blink {
  animation: glowing 1500ms infinite;
}

.subTitle {
    text-align: center;
    position: relative;
    margin: 15px 0;
}
.subTitle .txt {
    color: #a2a2a2;
    position: relative;
    background: #fff;
    z-index: 1;
    padding: 0 10px;
}
.subTitle .line {
    display: block;
    height: 1px;
    background: #e4e4e3;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -0.5px;
}
.Titleheader {
	text-align: center;
	position: relative;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 30px;
	margin-left: 0;
}
.Titleheader .txt-header {
    background: white;
    font-size: 20px;
    z-index: 1;
    position: relative;
    Padding-left: 10px;
    padding-right: 10px;
}
..subTitle .line {
    display: block;
    height: 1px;
    background: #e4e4e3;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -0.5px;
} .line {
    display: block;
    height: 1px;
    background: #e4e4e3;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -0.5px;
}
.listForm {
    margin-bottom: 10px;
    position: relative;
}
.listField {
    margin-bottom: 15px;
    position: relative;
}
select.input-xs {
    padding: 0px;
}
.topsearch {
    float: left;
    margin-top: 20px;
}
input.form-control.wide {
    max-width: 300px;
	min-width: 250px;
}
.nopadding {
	padding: 0px!important;
}
.logwhite {
	background-color: #FFFFFF;
	/*-webkit-box-shadow: 0px 0px 11px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 11px 0px rgba(204,204,204,1);*/
}
.white {
    background-color: #ffffff;
    box-shadow: 0 0 11px 0 rgba(204, 204, 204, 1);
    padding-bottom: 30px;
}
.menu {
    margin-top: 20px;
    margin-bottom: 5px;
}

.menutop > li > a {
    text-transform: uppercase;
    font-size: 12px;
	color: white;
}
.menutop > li > a:hover {
	color: #1d5c60;
}
.menutop li a .fa {
    font-size: 16px;
}
.usertop {
font-size:12px;
text-transform: uppercase;	
}
.usertop:after {
	content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 20px solid #39b1b9;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.dropdown-menu.dropdown-menu-right.minicart {
    font-size: 11px;
	width: 330px;
	padding-left: 8px;
    padding-right: 8px;
}
.minicart:after {
	content: '';
    display: block;
    position: absolute;
    left: 200px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 20px solid white;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.mini-cart {
    margin-bottom: 0px;
}
.product-cat-desc {
    margin-top: 5px;
	margin-bottom: 10px;
}
.product-cat-name {
    text-transform: uppercase;
    font-weight: bold;
}
.product-cat {
	margin-bottom: 10px;
    min-height: 350px;
}

/* Form Wizard */
.wizard {
    margin: 20px auto;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 30px;
}

.wizard .nav-tabs {
    position: relative;
    margin: 10px auto;
    margin-bottom: 0;
    border-bottom: none;
}

.wizard > div.wizard-inner {
   position: relative;
   }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 42%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 43px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 40px;
    padding-top: 12px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.333333%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
/*    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out; */
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
/*    border: 10px solid transparent;
    border-bottom-color: #5bc0de; */
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}

.wizard h3 {
    margin-top: 0;
}
.tabtittle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 5px;
	margin-bottom: 10px;
}

@media( max-width : 585px ) {

.wizard {
        width: 90%;
        height: auto !important;
    }

/*span.round-tab {
        font-size: 22px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }*/
	
span.round-tab {
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 22px;
}

.wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

.wizard li.active:after {
        content: " ";
        position: absolute;
        left: 42%;
    }
}

/* Eof Form Wizard */
/*.topbutton {
    width: 100%;
    background-color: #537190;
    text-align: center;
}*/

.topbutton {
	background-color: #9ed8de;
	padding: 8px;
}
.rowgap {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.usertitle {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../img/headerimage.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.lightbg{
	background-image: url(../img/simple_background.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	}
.wishlisttitle {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	line-height: 60px;
	font-weight: 700;
	color: #4491a2;
	padding: 10px;
	width: 100%;
	min-height: 70px;
	text-align: center;
}
.wishlistinfo {
	width: 100%;
	text-align: right;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wishlisteventinfo {
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	padding: 10px;
	width: 100%;
}
.allbutton {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.infobox{
	margin-top: 20px;
	padding-bottom: 15px;
}
.text-white {
	color: #FFFFFF;
}
.imgbox {
	margin-right: -15px;
	margin-left: -15px;
}
.bg-image {
  max-width: 100%; /* Auto scale */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}

/* cat img start */
.cat-item {
	margin-left: -15px;
    margin-right: -15px;
}
.overlink {
 width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    visibility: visible;
}

.overlink .link-btn {
    position: relative;
    top: 42%;
    top: 42%;
    background-color: rgba(47, 47, 47, 0.45);
    width: 70%;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border: 1px solid #ffffff;
    text-shadow: 0px 1px 6px rgba(30, 19, 19, 1);
}
.caticon {
  position: relative;
}    
.caticon:before {
 font-family: FontAwesome;
    content: "\f06b";
    position: absolute;
    right: 20px;
    bottom: 120px;
    font-size: 290px;
    color: rgba(213, 242, 244, 0.64);
}

.link-btn:hover {
 background-color: transparent; 
}
.cat-into-text {
	margin-top: 80px;
    margin-left: 20px;
}
.cat-item:hover .overlink {
    display: block;
	background-color:rgba(0, 0, 0, 0.53);
}
.cat-img{
  max-height: 476px;
    overflow: hidden;
    max-width: 800px;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
.cat-img img {
width: 100%;
-webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
-moz-transition: margin-top .5s ease-out;  /* FF4+ */
-ms-transition: margin-top .5s ease-out;  /* IE10? */
-o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
transition: margin-top .5s ease-out;
-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    }
.cat-img:hover img {
/*  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
-moz-transform:scale(1.1); 
-webkit-transform:scale(1.1);
-o-transform:scale(1.1);
}
/* end of cat img */
.item-img{
  max-height: 476px;
    overflow: hidden;
    max-width: 800px;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
    padding: 20px;
}
.item-img img {
width: 100%;
-webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
-moz-transition: margin-top .5s ease-out;  /* FF4+ */
-ms-transition: margin-top .5s ease-out;  /* IE10? */
-o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
transition: margin-top .5s ease-out;
-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    }
.item-img:hover img {
/*  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
-moz-transform:scale(1.1); 
-webkit-transform:scale(1.1);
-o-transform:scale(1.1);
}
     
@media only screen and (min-width: 1160px) {
    .item-img { max-width: 600px; }
	.cat-img { max-width: 600px;
}
}
.productitem {
	margin-left: -15px;
    margin-right: -15px;
}
.overlay {
    width: 100%;
    height: 100%;
/*    background-color: rgba(0,0,0,0.5);*/
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    display: none;
}

.overlay .title {
    text-align: center;
    font-size: 30px;
}

.overlay .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(68, 68, 68, 0.72);
    width: 100%;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.overlay .description p {
    margin: 5px;
	text-transform:initial;
}

.productitem:hover .overlay {
    display: block;
}
.allrows {
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	border-bottom-width: 1px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.item-title {
	color: #38aac3;
	font-size: 26px;
	padding-bottom: 10px;
	padding-right: 10px;
	line-height: 30px;
}
.item-desc {
	line-height: normal;
	padding-bottom: 15px;	
}
/*item list*/
.product-thumb {
    overflow: visible;
}
.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.product-thumb .image {
    text-align: center;
}
.product-list .product-thumb .caption {
    margin-left: 250px;
}
.product-thumb .caption {
    padding: 0 20px;
    min-height: 180px;
}
.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}
.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}
.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.product-thumb .button-group button+button {
    width: 20%;
    border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}
.product-thumb .price {
	color: #0988B3;
}
.product-thumb .price-new {
    font-weight: 600;
	font-size: 18px;
}
.price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}
.buttoncontribute {
	padding-top: 10px;
	margin-top: 15px;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
    float: left;
    padding: 15px;
}

}
@media (max-width: 767px) {
	
.product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
}

/*div#sliderhome {
     margin-top: 106px;
}*/
}


@media (max-width: 768px) {
.product-list .product-thumb .button-group {
    border-left: none;
}
/*div#sliderhome {
    margin-top: 106px;
}*/
}

.badgeblue {
    font-size: 16px;
    font-weight: 700;
    background-color: #2bc2ef;
}
.progressbox {
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
}
.contributorlist {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 25px;
}
.ipengenblue {
	color: #FFFFFF;
	background-color: #01BAC5;	
	margin-left: -15px;
}
.front-cat-blue {
	color: #FFFFFF;
	background-color: #01BAC5;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.front-cat-blue h2, .front-cat-blue h3, .front-cat-blue h4, .front-cat-blue h5 {
	color: #FFFFFF;
}
.form-control {
font-size: 14px;
border: 2px solid #e6e6e6;
border-radius: 0px;
}
.popover {
    background-color: #dbf7ff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #7cd0e8;
    border: 1px solid #7cd0e8;
}
.popover.bottom>.arrow:after {
    border-bottom-color: #dbf7ff;
}
.popover-title {
    background-color: #67d1e8;
    border-bottom: 1px solid #67d1e8;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}
.popover.top>.arrow {
    border-top-color: #7cd0e8;
    border-top-color: #7cd0e8;
}
.popover.top>.arrow:after {
    border-top-color: #dbf7ff;
}
/*SIDEMENU*/
.sidemenu {
    overflow: visible;
    margin-bottom: 20px;
    border-bottom: 3px solid #f0f0f0;
    padding-bottom: 10px;
}
.sidemenutitle {
	font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #01bac5;
    color: #01bac5;
    font-size: 16px;
    margin-bottom: 10px;
}
.sidemenulist ul {
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;

}
.sidemenulist ul > li {
	font-weight: bold;
	padding-bottom: 5px;

}
.sidemenulist ul > li> ul > li {
    padding-left: 8px;
    font-weight: normal;
    padding-top: 5px;
}


/*Eof Side Menu */
.detailproducttitle {
	font-size: 18px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.maindetailthumbs {
	margin-top: 10px;
	margin-bottom: 10px;
}
/* User Dashboard Side menu */
.dashboardtitle {
	font-size: 18px;
	color: #FFFFFF;	
}
.userphoto {
	max-height: 70px;
	max-width: 70px;
	border: 1px solid #FFFFFF;
}

.nav-side-menu {
	overflow: auto;
	font-size: 14px;
	font-weight: 200;
	background-color: #46a7b7;
	width: 100%;
	color: #FFFFFF;
}
.nav-side-menu .brand {
    background-color: #71d0e0;
    padding-top: 3px;
    padding-bottom: 8px;
    display: block;
    text-align: center;
    font-size: 14px;
	padding-left: 10px;
    padding-right: 10px;
}
.nav-side-menu .brand h4 {
	color: #FFFFFF;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {

background-color: #1a4950;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #93e7f5;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #98dcf1;
  font-weight: bold;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #11899c;
    border: none;
    line-height: 32px;
    border-bottom: 1px solid #46a7b7;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #46a7b7;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
padding-left: 0px;
border-bottom: 1px solid #78d1e0;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
    background-color: #1f6a77;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.dashbutton-icon {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 36px;
	padding-top: 20px;
}
.dashbutton {
    background-color: #71d0e0;
    line-height: 50px;
	border-radius: 4px;
	margin-bottom: 8px;
	text-align: center;
}
.dashbutton a {
    color: #ffffff;
}
.dashbutton:hover {
	background-color: #4ea8b7;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.list-group-item {
	text-align: left;
	font-size: 14px;
}
.newspanel {
	position: relative;
	height: 200px;
	margin-top: 0px;
	overflow-y: scroll;
}
.newspanel a, .newspanel a:link, .newspanel a:visited, .newspanel a:active {
	color: #3399CC;
	text-decoration: none;
	font-weight: bold;
}
.newspanel a:hover {
	color: #009999;
}
#transferEmail , #inviteEmail {
	margin-top: 10px;
	margin-bottom: 10px;
}
.panel-ipengen > .panel-heading {
    background-color: #71d0e0;
    border-bottom: 1px solid #71d0e0;
}
span.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.dashboard-header {
	font-size: 24px;
	color: #71d0e0;
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #71d0e0;
}
.eventdate {
    background-color: #5fd6ea;
    text-align: left;
    color: #1a4950;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}
.eventname {
    text-align: left;
    width: 60%;
    height: auto;
    padding-bottom: 10px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}

/* Eof User Dashboard */

/*New Code*/
.red-bg {
    background-color: #cc0033;
    color: #ffffff;
    font-family: "Pacifico",cursive;
    font-size: 24px;
    padding: 8px 10px;
}

.parentchild .fa.fa-plus-circle {
    color: #4ec7cd;
    float: right;
    margin-top: 5px;
	cursor: pointer;
}

.parentchild .fa.fa-minus-circle {
    color: #4ec7cd;
    float: right;
    margin-top: 5px;
	cursor: pointer;
}
.parentchild {
    background: rgba(78, 199, 205, 0.34) none repeat scroll 0 0;
    padding: 9px;
}
#sidemenuid ul li ul {
    display: none;
}

.parentclideshowhide {
    border: 1px solid #eee;
    display: none;
}