/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 5, 2014, 12:15:14 PM
    Author     : Irfan Budipradipta
*/

@font-face {
    font-family: 'Font Base';
    src: url('../font/AvenirLTStd-Medium.otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Font Base Italic';
    src: url('../font/AvenirLTStd-MediumOblique.otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Font Base Light';
    src: url('../font/AvenirLTStd-Book.otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Font Base Bold';
    src: url('../font/AvenirLTStd-Heavy.otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* TAG STYLE */
html , body{
    width : 100%;
    height : 100%;
    /* min-width : 320px; */
    padding: 0;
    margin :0;
    float : left;
}

body , a , h1, h2, h3 , h4, h5{
    font-family: 'Font Base', sans-serif;
}

a{
    text-decoration: none;
}

input[type=text] , input[type=password] , input[type=email] , textarea , input[type=number] {
    width: 95%;
    padding: 5px 1%;
    margin : 0 1%;
    font-family: 'Font Base', sans-serif;
    font-size: 14px;
    border : 1px solid #EBEBEB;
    float: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    text-align : right;
}

input[type=submit] , input[type=reset] , input[type=button] ,
button[type=submit] , button[type=reset] , button[type=button] , button{
    font-family: 'Font Base', sans-serif;
    border : none;
    cursor: pointer;
    float: left;
}

select, input[type=date]{
    width: 97.5%;
    padding: 4px 1%;
    margin : 0 1%;
    border : 1px solid #EBEBEB;
    font-family: 'Font Base', sans-serif;
    font-size: 14px;
    float: left;
}

input[type=date]{
    padding : 3px 1%;
}

input[type=text]:disabled , input[type=password]:disabled , input[type=email]:disabled , textarea:disabled , input[type=number]:disabled, select:disabled, input[type=date]:disabled{
    background : #EBEBEB;
    border : 1px solid #EBEBEB;
    color : #919191;
    cursor: not-allowed;
}

/* -------------------------  */

/* BASE STYLE */
.clearing5 , .clearing10 , .clearing20 , .clearing50{
    width: 100%;
    height: 5px;
    float: left;
}

.clearing10{height: 10px;}
.clearing20{height: 20px;}
.clearing50{height: 50px;}

.border-h , .border-h-white, .border-h-bold{
    width : 100%;
    height: 2px;
    border-top : 1px solid #EBEBEB;
    float :left;
}

.border-h-white{border-top : 1px solid #FFF;}
.border-h-bold{border-top : 3px solid #EBEBEB;}

.border-v , .border-v-white, .border-v-bold{
    width : 2px;
    height: 100%;
    border-right : 1px solid #EBEBEB;
    float :left;
}

.border-v-white{border-right : 1px solid #FFF;}
.border-v-white{border-right : 3px solid #EBEBEB;}

.border-box-white{border : 1px solid #FFF;}
.border-box-left-white{border-left : 1px solid #FFF;}
.border-box-right-white{border-right : 1px solid #FFF;}
.border-box-top-white{border-top : 1px solid #FFF;}
.border-box-bottom-white{border-bottom : 1px solid #FFF;}
.border-box-white-bold{border : 2px solid #FFF;}

.border-box-grey{border : 1px solid #EBEBEB;}
.border-box-left-grey{border-left : 1px solid #EBEBEB;}
.border-box-right-grey{border-right : 1px solid #EBEBEB;}
.border-box-top-grey{border-top : 1px solid #EBEBEB;}
.border-box-bottom-grey{border-bottom : 1px solid #EBEBEB;}
.border-box-grey-bold{border : 2px solid #EBEBEB;}

.height-full{
    height : 100%;
}

.min-height-full{
    min-height : 100%;
}

.row-full, .row-half, .row-5, .row-10, .row-12, .row-15, .row-20, .row-25, .row-30, .row-33, .row-35, .row-40, .row-45, .row-50, .row-55, .row-60, .row-65, .row-70, .row-75, .row-80, .row-85, .row-90, .row-95, .row-100{
    width: 100%;
    float: left;
}

.row-5{width: 5%;}
.row-10{width: 10%;}
.row-12{width: 12.5%;}
.row-15{width: 15%;}
.row-20{width: 20%;}
.row-25{width: 25%;}
.row-30{width: 30%;}
.row-33{width: 33.3%;}
.row-35{width: 35%;}
.row-40{width : 40%;}
.row-45{width : 45%;}
.row-half{width: 50%;}
.row-50{width : 50%;}
.row-55{width : 55%;}
.row-60{width : 60%;}
.row-65{width : 65%;}
.row-70{width: 70%;}
.row-75{width: 75%;}
.row-80{width: 80%;}
.row-85{width: 85%;}
.row-90{width: 90%;}
.row-95{width: 95%;}
.row-100{width : 100%;}

.static-half, .static-5, .static-10, .static-12, .static-15, .static-20, .static-25, .static-30, .static-33, .static-35, .static-40, .static-45, .static-50, .static-55, .static-60, .static-70, .static-75, .static-80, .static-85, .static-90, .static-95, .static-100{
    width: 100%;
    float: left;
}

.static-5{width: 5%;}
.static-10{width: 10%;}
.static-12{width: 12.5%;}
.static-15{width: 15%;}
.static-20{width: 20%;}
.static-25{width: 25%;}
.static-30{width: 30%;}
.static-33{width: 33.3%;}
.static-35{width: 35%;}
.static-40{width: 40%;}
.static-45{width: 45%;}
.static-half{width : 50%;}
.static-50{width: 50%;}
.static-55{width: 55%;}
.static-60{width : 60%;}
.static-70{width : 70%;}
.static-75{width : 75%;}
.static-80{width : 80%;}
.static-85{width : 85%;}
.static-90{width : 90%;}
.static-95{width : 95%;}


.page-wrapper{
    height : 100%;
}

.required{
    color : #08B1AE;
}

.input-required-error{
    border-color: red !important;
}

.input-full{
    width : 96.5% !important;
    margin : 0 0.5% !important;
}

.input-full-select{
    width : 99% !important;
    padding : 5px 1% !important;
    margin : 0 0.5% !important;
}

.input-full-no-margin{
    width : 97.5% !important;
    margin : 0 !important;
}

.input-no-margin-wrapper{
    height : 30px;
}

.input-with-icon{
    width : 85.5% !important;
    margin : 0 0 0 0.5% !important;
}

.input-icon-button{
    width : 10%;
    margin-left: -2px;
    padding : 5px 0;
    cursor : pointer;
    float : left;
}

.error ,  .success , .info , .draft{
    font-size: 14px;
    color : red;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}

.centering{
    display: table;
    width: 96%;
    height: 99%;
    padding : 1% 2%;
    float : left;
}

.centering span{
    display: table-cell;
    vertical-align: middle;
}

/* COLORING */

.bg-base, .bg-base-hover:hover{
    background-color : #53B2B8 !important;
}

.bg-secondary, .bg-secondary-hover:hover{
    background-color : #96D0D4 !important;
}

.bg-error{
    background-color : #DF3638 !important;
}

.bg-grey , .bg-grey-hover:hover{
    background-color : #EBEBEB !important;
}

.bg-light-grey , .bg-light-grey-hover:hover{
    background-color : #F4F4F4 !important;
}

.bg-light-base{
    background-color : #E6F4F4 !important;
}

.bg-blue, .bg-blue-hover:hover{
    background-color: #347AB8 !important;
}

.bg-transparent-black{
    background-color: rgba(0,0,0,0.5) !important;
}

.bg-white{
    background-color: #FFF !important;
}

.success{ color: #56D66F;}
.info{text-align: center; color : #666;}
.draft{ color : #ffe52b;}
.stripes{background : #FAFAFA;}

.font-base, .font-base-hover:hover{
    color : #53B2B8;
}

.font-underline, .font-underline-hover:hover{
    text-decoration: underline;
}

.font-white , .font-white-hover:hover{color : #FFF;}
.font-grey{color : #919191}
.font-grey-light{color : #EBEBEB}
.font-blue, .font-blue-hover:hover{color: #347AB8;}
.font-bold, .font-bold-hover:hover{font-family: 'Font Base Bold', 'sans-serif' !important;}
.font-italic, .font-italic-hover:hover{font-family: 'Font Base Italic', 'sans-serif' !important;}
.font-light { font-family: 'Font Base Light', 'sans-serif' !important;}

.font-line-hover:hover{text-decoration: underline;}


.font10{font-size: 10px;line-height: 14px;}
.font12{font-size: 12px;line-height: 16px;}
.font14{font-size: 14px;line-height: 18px;}
.font16{font-size: 16px;line-height: 20px;}
.font18{font-size: 18px;line-height: 22px;}
.font20{font-size: 20px;line-height: 24px;}
.font24{font-size: 24px;line-height: 28px;}
.font32{font-size: 32px;line-height: 36px;}
.font36{font-size: 36px;line-height: 40px;}
.font40{font-size: 40px;line-height: 44px;}

.line-no-space{
    line-height: normal !important;
}

.button-link, .button-link-normal{
    border-radius: 2px;
    padding: 8px 30px;
    text-align: center;
    box-shadow: 0 2px 2px #666;
    cursor: pointer;
    float : left;
}

.button-link-normal{
    box-shadow: none;
    border-radius: 0;
}

.button-full{
    width : 95%;
    padding: 8px 10%;
}

.button-full-no-margin{
    height: 96%;
    padding : 2% 0;
}

.button-center{
    padding : 8px 0;
    float : none !important;
    margin : 0 auto;
}

.align-left{
    text-align : left;
}

.align-center{
    text-align : center;
}

.align-center-mobile{
    text-align : left;
}

.align-right{
    text-align : right;
}

.float-left{
    float : left !important;
}

.float-right{
    float : right !important;
}

.cursor-pointer{
    cursor: pointer;
}


.contents-layout{
    min-height: 80%;
}

.container{
    width : 90%;
    margin : 0 5%;
    float : left;
}

.section-title{
    width : 97%;
    margin : 10px 1.5%;
    float : left;
}

.footer{
    padding-top: 20px;
    box-shadow: 0 -10px 20px #EBEBEB;
}

/* BOX LAYOUT */
.padding-10{
    padding-top : 10px;
    padding-bottom : 10px;
}
.padding-box {
    width : 96%;
    padding : 0 2%;
    float : left;
}

.padding-box-large{
    width : 90%;
    padding: 0 5%;
    float : left;
}

.margin-left-box{
    width: 98%;
    margin-left: 2%;
    float : left;
}

.margin-top{
    margin : 5px 0;
}

.margin-side{
    width : 98%;
    margin: 1% 1%;
    float : left;
}

.margin-side-large{
    width : 99.5%;
    margin: 0.25% 0.25%;
    float : left;
}

/* IMAGE STYLE */
.image-full{
    display: block;
    width : 100%;
    height : 100%;
    float : left;
}

.image-25 , .image-50{
    display: block;
    width : 50%;
    margin : 0 auto;
}

.image-25{width : 25%;}

.image-zoom img {
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

.image-zoom:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

.image-zoom .image-zoom-text{
    position: relative;
}


.broken-link-image{
    display: block;
    width : 25%;
    margin : 0 auto;
}

/* ICON */
.icon-xsmall {
    width : 12px;
    height: 12px;
    float : left;
}

.icon-small {
    width : 20px;
    height: 20px;
    float : left;
}

.icon-medium{
    width : 30px;
    height: 30px;
    float : left;
}

.icon-large{
    width : 45px;
    height: 45px;
    float : left;
}

.icon-square-auto{
    width : 50%;
    height : 40%;
    margin : 15% 25% 5%;
    float : left;
}

.icon-label{
    margin : 0 10px;
    float : left;
}

.icon-label-medium{
    margin : 5px 10px;
    float : left;
}

.icon-nav-arrow-hide{
    background: url("../img/arrow_hide.png")  center no-repeat;
    background-size: contain;
}

.icon-nav-arrow-open{
    background: url("../img/arrow_open.png")  center no-repeat;
    background-size: contain;
}

.icon-cart{
    background: url('../img/icon-cart.png') center no-repeat;
    background-size: contain;
}

.icon-category-automotives{
    background: url('../img/category/icon_category_automotives.png') no-repeat center;
    background-size: contain;
}

.icon-category-baby{
    background: url('../img/category/icon_category_babytoddler.png') no-repeat center;
    background-size: contain;
}

.icon-category-camera{
    background: url('../img/category/icon_category_camera.png') no-repeat center;
    background-size: contain;
}

.icon-category-health{
    background: url('../img/category/icon_category_healthbeauty.png') no-repeat center;
    background-size: contain;
}

.icon-category-homeappliances{
    background: url('../img/category/icon_category_homeappliances.png') no-repeat center;
    background-size: contain;
}
.icon-category-homeliving{
    background: url('../img/category/icon_category_homeliving.png') no-repeat center;
    background-size: contain;
}

.icon-category-honeymoon{
    background: url('../img/category/icon_category_honeymoon.png') no-repeat center;
    background-size: contain;
}

.icon-category-jewelry{
    background: url('../img/category/icon_category_jewelry.png') no-repeat center;
    background-size: contain;
}

.icon-category-menfashion{
    background: url('../img/category/icon_category_menfashion.png') no-repeat center;
    background-size: contain;
}

.icon-category-mobile{
    background: url('../img/category/icon_category_mobile.png') no-repeat center;
    background-size: contain;
}

.icon-category-notebook{
    background: url('../img/category/icon_category_notebook.png') no-repeat center;
    background-size: contain;
}

.icon-category-photo{
    background: url('../img/category/icon_category_photostudio.png') no-repeat center;
    background-size: contain;
}

.icon-category-sport{
    background: url('../img/category/icon_category_sportoutdoor.png') no-repeat center;
    background-size: contain;
}

.icon-category-tour{
    background: url('../img/category/icon_category_tourtravel.png') no-repeat center;
    background-size: contain;
}

.icon-category-toys{
    background: url('../img/category/icon_category_toysgames.png') no-repeat center;
    background-size: contain;
}

.icon-category-luggage{
    background: url('../img/category/icon_category_travelluggage.png') no-repeat center;
    background-size: contain;
}

.icon-category-tv{
    background: url('../img/category/icon_category_tv.png') no-repeat center;
    background-size: contain;
}

.icon-category-catering{
    background: url('../img/category/icon_category_weddingcatering.png') no-repeat center;
    background-size: contain;
}

.icon-category-wedding{
    background: url('../img/category/icon_category_weddingvenue.png') no-repeat center;
    background-size: contain;
}

.icon-category-womenfashion{
    background: url('../img/category/icon_category_womenfashion.png') no-repeat center;
    background-size: contain;
}

.slide-1{
    background-image: url('../img/slide_1.png');
}

.slide-2{
    background-image: url('../img/slide_2.png');
}

.slide-3{
    background-image: url('../img/slide_3.png');
}

.highlight-1{
    background-image: url('../img/cashgift_bg.png');
}
.highlight-2{
    background-image: url('../img/interior_bg.png');
}
.highlight-3{
    background-image: url('../img/fashion_bg.png');
}

.icon-facebook{
    background: url('../img/fb.png') no-repeat center;
    background-size: contain;
}

.icon-twitter{
    background: url('../img/twitter.png') no-repeat center;
    background-size: contain;
}

.icon-instagram{
    background: url('../img/instagram.png') no-repeat center;
    background-size: contain;
}

.icon-google{
    background: url('../img/g+.png') no-repeat center;
    background-size: contain;
}

.icon-email{
    background: url('../img/mail.png') no-repeat center;
    background-size: contain;
}

/* LAYOUT ITEMS */
.navigation-bar{
    position : fixed;
    box-shadow: 0px 5px 5px #EBEBEB;
    z-index: 1;
}

.navigation-bar .navigation-logo {
    /* margin: 10px 0 18px; */
    margin: 10px 0;
    height : 26px;
    /* height: 32px; */
    float: left;
}

.navigation-bar .navigation-link{
    /* padding : 23px 0 17px; */
    padding : 17px 0 10px;
    float : left;
}

.navigation-bar .navigation-link .icon-xsmall{
    margin-top : 2px;
    margin-left: 10px;
}

.navigation-bar .navigation-link .navigation-link-sub{
    position: fixed;
    width: 350px;
    height: 0;
    margin-left: -175px;
    top: 46px;
    overflow: hidden;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
    box-shadow: 0px 5px 5px #EBEBEB;
    z-index: 0;
}

.navigation-bar .navigation-link .navigation-link-sub .navigation-link-sub-item {
    width : 90%;
    padding : 8px 5%;
    float : left;
}

.navigation-bar .navigation-link .navigation-link-sub .navigation-link-sub-item .navigation-link-sub-image{
    display: block;
    width : 85%;
    max-height: 70px;
    float : left;
}

.navigation-bar .navigation-input{
    /* margin: 15px 0; */
    margin: 8px 0;
    height : 30px;
}

.navigation-bar .navigation-input-select{
    margin : 15px 0;
    height : 20px;
}

.navigation-bar .navigation-icon{
    margin-top : -3px;
}

.event-item-show{
    margin-top: -100%;
}

.popup-navigation{
    position: fixed;
    height : 0;
    z-index: 0;
    overflow: hidden;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

.popup-navigation .popup-navigation-content{
    width: 98%;
    height: 90%;
    padding : 2% 1%;
    overflow-y: auto;
    box-shadow: 0px 5px 5px #999;
    float : left;
}
.subcategory-item{
    display: none;
}
.product-highlight-options{
    margin-top: -99px;
}

.product-highlight-options-button{
    cursor: pointer;
    height: 33px;
}

.product-highlight-options-items{
    height: 66px;
    cursor: pointer;
}

.product-highlight-options-item{
    height : 0;
    overflow: hidden;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

.product-title{
    height : 40px;
    overflow: hidden;
}

.back-popup{
    z-index:0;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top: 0;
    left: 0;
}

#back-popup-general{
    z-index: 1;
    opacity : 0.7;
}

/* LOGIN & REGUSTER*/
.login-logo{
    display : block;
    width : 150px;
    margin : 0 auto;
}

.login-facebook{
    display: block;
    width : 200px;
    margin : auto;
}


/* POPUP */
.popup-large, .popup-medium, .popup-small, .popup-xsmall{
    background-color : #FFF;
    position: fixed;
    width : 80%;
    z-index: 2;
    overflow: hidden;
    top : -100%;
    left : 10%;
    -webkit-transition: all 1.0s ease; /* Safari and Chrome */
    -moz-transition: all 1.0s ease; /* Firefox */
    -ms-transition: all 1.0s ease; /* IE 9 */
    -o-transition: all 1.0s ease; /* Opera */
    transition: all 1.0s ease;
    float :left;
}

.popup-medium{
    position: fixed;
    width : 50%;
    height : auto;
    left : 25%;
}

.popup-small{
    position: fixed;
    width : 40%;
    height : auto;
    left : 30%;
}

.popup-xsmall{
    position: fixed;
    width : 30%;
    height : auto;
    left : 35%;
}

.popup-content{
    width : 95%;
    padding : 0 2.5%;
    max-height: 350px;
    overflow-y : auto;
    float : left;
}

/* MEDIA */
.mobile-off, .tablet-off{
    display: block;
}

.mobile-on, .tablet-on{
    display: none;
}

.mobile-full, .tablet-full{
    float : left;
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* For tablets: */

    .tablet-off{display: none;}
    .tablet-on{display: initial;}
    .tablet-no-padding{padding: 0!important;}
    .tablet-margin{margin: 5px!important;}
    .tablet-full{width : 100% !important;margin-left: 0!important;margin-right: 0!important;float: left}
    .tablet-half{width: 50% !important;float: left}
    .tablet-20{width: 20% !important;float: left}
    .tablet-25{width: 25% !important;float: left}
    .tablet-30{width: 30% !important;float: left}
    .tablet-45{width: 45% !important;float: left}
    .tablet-70{width: 70% !important;float: left}
    .tablet-auto{width: auto !important;float: left;}

    .margin-center-tablet{float: none!important;margin: 0 auto!important;}
    .align-center-tablet{text-align: center !important;}
    .align-left-tablet{text-align: left !important;}

    .tablet-font14{font-size: 14px !important;line-height: 18px !important;}
    .tablet-font16{font-size: 16px !important;line-height: 20px !important;}
    .tablet-font20{font-size: 20px !important;line-height: 24px !important;}

    .tablet-button-full-no-margin{
        height: 96%;
        padding : 2% 0;
    }
    .padding-box-large{
        width : 96%;
        padding: 0 2%;
    }

    .container{
        width : 95%;
        margin : 0 2.5%;
        float : left;
    }

    .popup-small, .popup-xsmall{
        width : 70%;
        left : 15%;
    }

    .navigation-bar .navigation-link .navigation-link-sub{
        top : 96px !important;
    }

    #navigation-sub-shoppingcarttablet{
        right : 0;
        margin-left: 0;
    }
    /*[class*="row-"] {
        width: 100%;
    }

    .mobile-off{display: none;}
    .mobile-on{display: block;}

    .input-big , .input-big-textarea{
        width : 84%;
        padding : 10px 3%;
        margin: 0 5%;
    }

    .font12{font-size: 10px;}
    .font14{font-size: 12px;}
    .font16{font-size: 14px;}
    .font20{font-size: 18px;}
    .font24{font-size: 20px;}
    .font32{font-size: 20px;}

    .content-container{
        width: 80%;
        margin: 0 10%;
    }*/

}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    .mobile-off{display: none;}
    .mobile-on{display: initial;}
    .mobile-no-padding{padding: 0!important;}
    .mobile-margin{margin: 5px!important;}
    .mobile-full{width : 100% !important;margin-left: 0!important;margin-right: 0!important;float: left}
    .mobile-half{width: 50% !important;float: left}
    .mobile-25{width: 25% !important;float: left}
    .mobile-30{width: 30% !important;float: left}
    .mobile-auto{width: auto !important;float: left;}

    .margin-center-mobile{float: none!important;margin: 0 auto!important;}
    .align-center-mobile{text-align: center !important;}

    .mobile-font14{font-size: 14px !important;line-height: 18px !important;}
    .mobile-font16{font-size: 16px !important;line-height: 20px !important;}
    .mobile-font20{font-size: 20px !important;line-height: 24px !important;}

    .mobile-no-float{float: none !important;}
    .bg-white-mobile{background: #FFF !important;}

    .input-mobile-full-no-margin{width : 97.5% !important;margin : 0 !important;}
    .button-full-mobile{width : 100% !important;padding: 8px 0!important;}
    .mobile-navigation{
        position : fixed;
        height : 100%;
        z-index: 1;
        right: -100%;
        -webkit-transition: all 1s ease; /* Safari and Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* IE 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
    }

    .mobile-navigation-content{
        width : 100%;
        margin-left : 10%;
        float : left;
    }

    .mobile-navigation-submenu{
        overflow: hidden;
        height : 0;
        -webkit-transition: all 2s ease; /* Safari and Chrome */
        -moz-transition: all 2s ease; /* Firefox */
        -ms-transition: all 2s ease; /* IE 9 */
        -o-transition: all 2s ease; /* Opera */
        transition: all 2s ease;
    }
    .container{
        width : 95%;
        margin : 0 2.5%;
        float : left;
    }

    .font10{font-size: 8px;line-height: 12px;}
    .font12{font-size: 10px;line-height: 14px;}
    .font14{font-size: 12px;line-height: 16px;}
    .font16{font-size: 14px;line-height: 18px;}
    .font18{font-size: 16px;line-height: 20px;}
    .font20{font-size: 18px;line-height: 22px;}
    .font24{font-size: 22px;line-height: 26px;}
    .font32{font-size: 30px;line-height: 34px;}
    .font36{font-size: 34px;line-height: 38px;}
    .font40{font-size: 36px;line-height: 40px;}

    .navigation-bar .navigation-input{
        /* margin: 15px 0; */
        margin: 8px 0;
        height : 30px;
    }

    .popup-xsmall, .popup-small, .popup-medium, .popup-large{
        width : 95%;
        left : 2.5%;
    }

    .login-logo{
        width : 100px;
    }

    .login-facebook{
        width : 150px;
    }

    .product-title{
        height : auto;
    }

    .navigation-bar .navigation-link .navigation-link-sub{
        width: 100%;
        top : 96px !important;
        margin-left: 0;
        left : 0;
    }
}