@charset "utf-8";
/* CSS Document */
.waitprocess {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loaderwait {
	left: 46%;
	padding: 10px;
	position: absolute;
	top: 30%;
	/*background: #fff none repeat scroll 0 0;*/
	border-radius: 2px;
}

