.custompencil{ color:#808080;margin-top: 6px;}

/* debashis add*/

.username.username-hide-mobile { color: #fff !important; }
.dropdown-toggle:hover { background-color: #50c9cf !important; }
.spanSpace{padding-right:10%;}