
.create-step-wrapper{
    margin-top: -70px;
}

.create-step-item{
    width : 80px;
    padding : 17.5px 0;
    height: 45px;
    border-radius: 50%;
    float : left;
}

.create-step-item.middle{
    margin : 0 auto;
    float : none;
}

.box-input{
    width: 96.5% !important;
    margin: 0 0.5% !important;
    padding: 5px 1%;
    float: left;
}