
.slider{
    height : 80%;
}

.slider-container{
    -webkit-transition: all 2s ease; /* Safari and Chrome */
    -moz-transition: all 2s ease; /* Firefox */
    -ms-transition: all 2s ease; /* IE 9 */
    -o-transition: all 2s ease; /* Opera */
    transition: all 2s ease;
}

.slider .slider-large{
    width : 0;
    height : 100%;
    overflow: hidden;
    float : left;
}

.slider .bg-slider , .slider .bg-highlight{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-pagination{
    margin-top: -50px;
}

.slider-pagination .slider-pagination-box{
    width : 15px;
    height : 15px;
    margin-right: 15px;
    opacity: 0.5;
    float : left;
}

.slider-pagination .slider-pagination-box.first{
    margin-left: 10%;
}

.slider .slider-large .slider-content{
    width: 55%;
    margin : 20% 15% 0 30%;
    float : left;
}


.slider .highlight-medium{
    width : 97%;
    height : 48%;
    margin: 0 0 2.5% 3%;
    overflow: hidden;
}

.slider .highlight-medium .highlight-item{
    width: 90%;
    height : 90%;
    padding: 5% 5%;
    float : left;
}

.slider .highlight-medium .highlight-item-image{
    height : 50%;
}

.slider .highlight-medium .highlight-item-text{
    height : 40%;
}

.slider .highlight-medium .highlight-item-link{
    height : 10%;
}

.slider .highlight-medium .highlight-item-image img{
    display: block;
    height : 80%;
    margin: 0 auto;
}

.slider .highlight-small{
    width : 97%;
    height : 24.5%;
    margin: 0 0 2% 3%;
    overflow: hidden;
}

.slider .highlight-small .highlight-item-link{
    display: table;
    width: 96%;
    height: 99%;
    padding : 1% 2%;
    float : left;
}

.slider .highlight-small .highlight-item-link span{
    display: table-cell;
    vertical-align: middle;
}


.product-highlight-container{
    height : 800px;
}

.product-highlight-container .product-highlight-large{
    width : 32.3%;
    height: 98%;
    margin : 0.5% 0.5%;
    float : left;
}

.product-highlight-container .product-highlight-medium{
    width : 65.6%;
    height : 48%;
    margin : 0.5% 0.5%;
    float : left;
}

.product-highlight-container .product-highlight-small{
    width : 32.3%;
    height: 48.5%;
    margin : 0.5% 0.5%;
    float : left;
}

.product-highlight-container .product-highlight-large .product-highlight-large-image,
.product-highlight-container .product-highlight-medium .product-highlight-medium-image,
.product-highlight-container .product-highlight-small .product-highlight-small-image{
    height : 85%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-highlight-container .product-highlight-large .product-highlight-large-content{height: 15%;}

.product-highlight-container .product-highlight-medium .product-highlight-medium-image,
.product-highlight-container .product-highlight-small .product-highlight-small-image{
    height : 70%
}
.product-highlight-container .product-highlight-medium .product-highlight-medium-content,
.product-highlight-container .product-highlight-small .product-highlight-small-content{
    height: 30%;
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* For tablets: */
    .slider-box{
        height : 65% !important;
    }

    .slider .slider-large .slider-content{
        width: 90%;
        margin : 5% 5% 0 5%;
        float : left;
    }

    .slider-pagination{
        margin-top: -30px;
    }

    .slider-pagination .slider-pagination-box{
        width : 15px;
        height : 15px;
        margin-right: 10px;
    }

    .slider-pagination .slider-pagination-box.first{
        margin-left: 5%;
    }

    .slider .highlight-medium{
        height : 35%;
        margin : 0 !important;
        overflow: hidden;
    }

    .slider .highlight-small{
        height : 17.5%;
        margin : 0 !important;
        overflow: hidden;
    }

    .product-highlight-container{
        height : auto;
    }

    .product-highlight-container .product-highlight-large , .product-highlight-container .product-highlight-medium, .product-highlight-container .product-highlight-small{
        width : 48%;
        height: 360px;
        margin : 5px 1%;
    }

    .product-highlight-container .product-highlight-large .product-highlight-large-image, .product-highlight-container .product-highlight-medium .product-highlight-medium-image, .product-highlight-container .product-highlight-small .product-highlight-small-image{
        height : 60%
    }
    .product-highlight-container .product-highlight-large .product-highlight-large-content, .product-highlight-container .product-highlight-medium .product-highlight-medium-content, .product-highlight-container .product-highlight-small .product-highlight-small-content{
        height: 40%;
    }

    .product-highlight-title-tablet{
        height : 40px;
        overflow: hidden;
    }

    .product-highlight-content-tablet{
        height : 36px;
        overflow: hidden;
    }
}


@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .slider{
        height : auto;
    }
    .slider-box{
        height : 350px !important;
    }

    .slider .slider-large .slider-content{
        width: 95%;
        margin : 5% 2.5% 0 2.5%;
        float : left;
    }

    .slider-pagination{
        margin-top: -20px;
    }

    .slider-pagination .slider-pagination-box{
        width : 10px;
        height : 10px;
        margin-right: 10px;
    }

    .slider-pagination .slider-pagination-box.first{
        margin-left: 5%;
    }

    .slider .highlight-medium{
        height : 250px;
        margin: 10px 0 5px;
        overflow: hidden;
    }

    .slider .highlight-small{
        height : 150px;
        margin: 5px 0;
        overflow: hidden;
    }

    .product-highlight-container{
        height : auto;
    }

    .product-highlight-container .product-highlight-large , .product-highlight-container .product-highlight-medium, .product-highlight-container .product-highlight-small{
        height: 350px;
        margin : 5px 0;
    }

    .product-highlight-container .product-highlight-large .product-highlight-large-image{
        height : 70%
    }
    .product-highlight-container .product-highlight-large .product-highlight-large-content{
        height: 30%;
    }
}